.hamMenu {
    display: inline-block;
    position: relative;
    z-index: 9;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.7;
    transition: all 0.25s linear;
    bottom:16px;
  }

  @media (min-width: 576px) {
    .showMobile {
      display: none;
    }
  }
  
  .hamMenu:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .baseMenuBar {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    width: 24px;
    height: 3px;
  }
  
  .hamMenuBar1 {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    width: 24px;
    height: 3px;
    top: 16px;
    transition: all 0.25s linear;
  }
  
  .hamMenuBar2 {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    width: 24px;
    height: 3px;
    transition: all 0.25s linear;
  }
  
  .hamMenuBar3 {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    width: 24px;
    height: 3px;
    bottom: 16px;
    transition: all 0.25s linear;
  }
  
  .hamMenuBar1_Touch {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    height: 3px;
    transition: all 0.25s linear;
    transform: rotate(-4deg);
    width: 30px;
    top: 16px;
    opacity: 0;
  }
  
  .hamMenuBar2_Touch {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    height: 3px;
    transition: all 0.25s linear;
    width: 30px;
    opacity: 1;
    transform: rotate(45deg);
  }
  
  .hamMenuBar3_Touch {
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    height: 3px;
    transition: all 0.25s linear;
    width: 30px;
    bottom: 25px;
    opacity: 1;
    transform: rotate(-2deg);
    transform: rotate(-45deg);
  }
  