.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: black;
    margin: 1rem;

}

.info {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 3rem;
    padding-right: 1rem;
    align-items: flex-start;
}

.imgBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.category {
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.name {
    position: absolute;
    right: 1rem;
    bottom: 0.3rem;
    z-index: 9;
    font-size: 1rem;
}

.img1 {
    display: block;
    height: 15rem;

    object-fit: cover;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.img2 {

    height: 15rem;
    object-fit: contain;
    display: none;
}

.img3 {

    height: 15rem;
    object-fit: contain;
    display: none;
}

@media (min-width: 768px) {
    .box {
        flex-direction: column;
    }

    .img1 {
        border-radius: 0%;
    }

    .info {

        align-items: center;

    }



    .imgBox {
        display: flex;
        flex-direction: row;
        padding-top: 3rem;
    }
}

@media (min-width: 1280px) {
    .img1 {
        height: 10rem;
        margin:0 1rem;
    }

    .img2 {
        display: block;
        height: 10rem;
        margin:0 1rem;
    }

    .img3 {
        display: block;
        height: 10rem;
        margin:0 1rem;
    }
}