.footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 1rem;

   
}



.footerLink {
   text-decoration: none;
   color: white;
   font-size: 1rem;
}

.footerIcon {
   background-color: aliceblue;
   width: 3rem;
border: 1rem;
border-color: black;
   border-radius: 3rem;
}


.copyRight {
   color: white;
   opacity: 0.6;
   text-align: center;
}