body {
  margin: 0;
  font-family: 'tsukushioldmincho', 'ms mincho', 'ヒラギノ明朝 pro w3', 'hiragino mincho pro', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}