.box{
display: flex;
flex-direction: column;
padding-top: 2rem;
}
.comissionListTitle{
    background-color: rgba(68, 212, 212, 0.76);
    font-size: 2rem;
    align-self: center;
    padding: 0 1rem;
}